<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hx.insist.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="hx.insist.pojo.Admin" >
    <id column="aid" property="aid" jdbcType="VARCHAR" />
    <result column="ausername" property="ausername" jdbcType="VARCHAR" />
    <result column="apassword" property="apassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, ausername, apassword
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hx.insist.pojo.AdminExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where aid = #{aid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from admin
    where aid = #{aid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="hx.insist.pojo.AdminExample" >
    delete from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hx.insist.pojo.Admin" >
    insert into admin (aid, ausername, apassword
      )
    values (#{aid,jdbcType=VARCHAR}, #{ausername,jdbcType=VARCHAR}, #{apassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hx.insist.pojo.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="ausername != null" >
        ausername,
      </if>
      <if test="apassword != null" >
        apassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=VARCHAR},
      </if>
      <if test="ausername != null" >
        #{ausername,jdbcType=VARCHAR},
      </if>
      <if test="apassword != null" >
        #{apassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hx.insist.pojo.AdminExample" resultType="java.lang.Integer" >
    select count(*) from admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=VARCHAR},
      </if>
      <if test="record.ausername != null" >
        ausername = #{record.ausername,jdbcType=VARCHAR},
      </if>
      <if test="record.apassword != null" >
        apassword = #{record.apassword,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update admin
    set aid = #{record.aid,jdbcType=VARCHAR},
      ausername = #{record.ausername,jdbcType=VARCHAR},
      apassword = #{record.apassword,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hx.insist.pojo.Admin" >
    update admin
    <set >
      <if test="ausername != null" >
        ausername = #{ausername,jdbcType=VARCHAR},
      </if>
      <if test="apassword != null" >
        apassword = #{apassword,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hx.insist.pojo.Admin" >
    update admin
    set ausername = #{ausername,jdbcType=VARCHAR},
      apassword = #{apassword,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=VARCHAR}
  </update>

  <!--查询以供登录-->
  <select id="selectByUsernamePassword" resultMap="BaseResultMap" parameterType="string" >
    select *
    from admin
    where ausername = #{0}
    and apassword = #{1}
  </select>

  <!--查询某个子管理员用户名的个数-->
  <select id="selectCountByUsername" resultType="int" parameterType="string">
    select count(aid)
    from admin
    where ausername = #{0}
  </select>
</mapper>