<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hx.insist.mapper.TypeMapper" >
  <resultMap id="BaseResultMap" type="hx.insist.pojo.Type" >
    <id column="TID" property="tid" jdbcType="VARCHAR" />
    <result column="TNAME" property="tname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, TNAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hx.insist.pojo.TypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from type
    where TID = #{tid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from type
    where TID = #{tid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="hx.insist.pojo.TypeExample" >
    delete from type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hx.insist.pojo.Type" >
    insert into type (TID, TNAME)
    values (#{tid,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hx.insist.pojo.Type" >
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="tname != null" >
        TNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hx.insist.pojo.TypeExample" resultType="java.lang.Integer" >
    select count(*) from type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update type
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=VARCHAR},
      </if>
      <if test="record.tname != null" >
        TNAME = #{record.tname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update type
    set TID = #{record.tid,jdbcType=VARCHAR},
      TNAME = #{record.tname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hx.insist.pojo.Type" >
    update type
    <set >
      <if test="tname != null" >
        TNAME = #{tname,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hx.insist.pojo.Type" >
    update type
    set TNAME = #{tname,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=VARCHAR}
  </update>

  <select id="selectByTname" parameterType="string" resultType="int">
    select count(tid)
    from TYPE
    where tname = #{0}
  </select>

  <select id="selectAll" resultType="hx.insist.pojo.Type">
    select *
    from TYPE
  </select>
</mapper>